.login {
    background: rgb(221, 45, 45);
    max-width: 200px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    font-size: 12px;
    height: 40px;
    display: block;
    p{
        padding-top: 12px;
    }
}